.awesome{
    background-color: rgb(193, 195, 207);
}

.wonder{
    background-color: aqua;
}

.form1{
    /* background-color: rgb(216, 192, 192); */
    /* gradient background */
    background: linear-gradient(to right, rgb(160, 166, 175), rgb(129, 129, 100));
    padding: 40px;
    margin:50px;
    align-items: center;
    border: 10px solid #ccc;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.submit{
    background-color: rgb(129, 129, 100);
    color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border: none;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

table{
    border: 1px solid black;
    width: 50%;
    margin-top: 40px;
    padding: 10px;
    row-gap: 10px;
    background-color: rgb(193, 195, 207);
}